@inject eticaret.Domain.UnitOfWork.IUnitofWork unitofWork
@using eticaret.Domain.Core.Entities

<section class="section-category padding-t-50 mb-24">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bb-category-6-colum owl-carousel">

                    @if(unitofWork.GetRepository<Category>().GetAllIQueryable(x => x.IsDeleted == false).Any())
                    {
                        foreach (var item in unitofWork.GetRepository<Category>().GetAllIQueryable(x => x.IsDeleted == false))
                        {
                            <div class="bb-category-box category-items-1" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="500">
                                <div class="category-image">
                                    <img src="assets/img/category/1.svg" alt="category">
                                </div>
                                <div class="category-sub-contact">
                                    <h5><a href="/product-list/@item.Flag">@item.Name</a></h5>
                                    <p>485 items</p>
                                </div>
                            </div>
                        }
                    }
                    @*
                    <div class="bb-category-box category-items-1" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="500">
                        <div class="category-image">
                            <img src="assets/img/category/1.svg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">vegetables</a></h5>
                            <p>485 items</p>
                        </div>
                    </div>
                    <div class="bb-category-box category-items-2" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="500">
                        <div class="category-image">
                            <img src="assets/img/category/2.svg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">Fruits</a></h5>
                            <p>291 items</p>
                        </div>
                    </div>
                    <div class="bb-category-box category-items-3" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="500">
                        <div class="category-image">
                            <img src="assets/img/category/3.svg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">Cold Drinks</a></h5>
                            <p>49 items</p>
                        </div>
                    </div>
                    <div class="bb-category-box category-items-4" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="500">
                        <div class="category-image">
                            <img src="assets/img/category/4.svg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">Bakery</a></h5>
                            <p>08 items</p>
                        </div>
                    </div>
                    <div class="bb-category-box category-items-2" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="500">
                        <div class="category-image">
                            <img src="assets/img/category/5.svg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">Fast Food</a></h5>
                            <p>291 items</p>
                        </div>
                    </div>
                    <div class="bb-category-box category-items-3" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="500">
                        <div class="category-image">
                            <img src="assets/img/category/6.svg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">Snacks</a></h5>
                            <p>49 items</p>
                        </div>
                    </div>
                    *@
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
