@inject eticaret.Domain.UnitOfWork.IUnitofWork unitofWork
@using eticaret.Domain.Core.Entities

<section class="section-category mb-24">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bb-category-6-colum owl-carousel">

                    @if(unitofWork.GetRepository<Category>().GetAllIQueryable(x => x.IsDeleted == false).Any())
                    {
                        foreach (var item in unitofWork.GetRepository<Category>().GetAllIQueryable(x => x.IsDeleted == false))
                        {
                            <div class="bb-category-box category-items-1" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="500">
                                <div class="category-image">
                                    <img src="assets/img/category/1.svg" alt="category">
                                </div>
                                <div class="category-sub-contact">
                                    <h5><a href="/product-list/@item.Flag">@item.Name</a></h5>
                                    <p>485 items</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
