<section class="section-testimonials-2 padding-tb-100" data-aos="fade-up" data-aos-duration="1000"
         data-aos-delay="400">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title bb-center">
                    <div class="section-detail">
                        <h2 class="bb-title">Our <span>Testimonials</span></h2>
                        <p>Customer Voices, Organized for You. Find the Feedback That Matters Most.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="bb-testimonials-2">
                    <div class="owl-carousel testimonials-slider-2">
                        <div class="bb-testimonials-inner">
                            <div class="row">
                                <div class="col-12">
                                    <div class="testimonials-contact">
                                        <div class="user">
                                            <img src="assets/img/testimonials/1.jpg" alt="testimonials">
                                            <div class="detail">
                                                <h4>Isabella Oliver</h4>
                                                <span>(Manager)</span>
                                            </div>
                                        </div>
                                        <div class="inner-contact">
                                            <p>
                                                "Lorem ipsum dolor sit amet consectetur adipis dicing elit.
                                                Architecto
                                                at sint eligendi possimus perspiciatis asperiores."
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bb-testimonials-inner">
                            <div class="row">
                                <div class="col-12">
                                    <div class="testimonials-contact">
                                        <div class="user">
                                            <img src="assets/img/testimonials/2.jpg" alt="testimonials">
                                            <div class="detail">
                                                <h4>Nikki Albart</h4>
                                                <span>(Team Leader)</span>
                                            </div>
                                        </div>
                                        <div class="inner-contact">
                                            <p>
                                                "Lorem ipsum dolor sit amet consectetur adipis dicing elit.
                                                Architecto
                                                at sint eligendi possimus perspiciatis asperiores."
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bb-testimonials-inner">
                            <div class="row">
                                <div class="col-12">
                                    <div class="testimonials-contact">
                                        <div class="user">
                                            <img src="assets/img/testimonials/3.jpg" alt="testimonials">
                                            <div class="detail">
                                                <h4>Stephen Smith</h4>
                                                <span>(Co Founder)</span>
                                            </div>
                                        </div>
                                        <div class="inner-contact">
                                            <p>
                                                "Lorem ipsum dolor sit amet consectetur adipis dicing elit.
                                                Architecto
                                                at sint eligendi possimus perspiciatis asperiores."
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

}
