@page "~/contact"
@model eticaret.Pages.Contact.ContactModel
@{
}

@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Breadcrumb.BreadcrumbComponent>(RenderMode.ServerPrerendered, new { Title = "İletişim", Titles = new List<string> { "İletişim" } }))

<section class="section-contact padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24">
            <div class="col-12">
                <div class="section-title bb-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="section-detail">
                        <h2 class="bb-title">Bizimle İletişime <span>Geçin</span></h2>
                        <p>
                            7/24 Sizin için buradayız. İletişim formunu doldurarak bizimle iletişime geçebilirsiniz.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="bb-contact-form">
                    <form method="post">
                        <div class="bb-contact-wrap">
                            <input type="text" name="firstname" placeholder="Ad Soyad">
                        </div>                        
                        <div class="bb-contact-wrap">
                            <input type="email" name="email" placeholder="E-Posta">
                        </div>
                        <div class="bb-contact-wrap">
                            <input type="text" name="phonenumber" placeholder="Telefon NUmarası">
                        </div>
                        <div class="bb-contact-wrap">
                            <input type="text" name="lastname" placeholder="Konu">
                        </div>
                        <div class="bb-contact-wrap">
                            <textarea name="address" placeholder="Mesaj"></textarea>
                        </div>
                        <div class="bb-contact-button">
                            <button class="bb-btn-2" type="submit">Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="bb-contact-maps">
                    <iframe src="https://www.google.com/maps/place/ZeyZey+tasar%C4%B1m+at%C3%B6lyesi/@@40.7761265,30.4001386,20.75z"
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
