@inject eticaret.Domain.Repository.Interface.ICategoryRepository categoryRepository
@using eticaret.Domain.Core.Entities

<div class="bb-mobile-menu-overlay"></div>
<div id="bb-mobile-menu" class="bb-mobile-menu">
    <div class="bb-menu-title">
        <span class="menu_title">My Menu</span>
        <button type="button" class="bb-close-menu">×</button>
    </div>
    <div class="bb-menu-inner">
        <div class="bb-menu-content">
            <ul>
                <li>
                    <a href="/">Anasayfa</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Kategori</a>
                    <ul class="sub-menu">

                        @if (categories.Any())
                        {
                            foreach (var item in categories)
                            {
                                <li>
                                    <a href="javascript:void(0)">@item.Name</a>

                                    @if (item.SubCategorys.Any())
                                    {
                                        <ul class="sub-menu">
                                        @foreach (var g in item.SubCategorys)
                                        {
                                                <li><a href="shop-left-sidebar-col-3.html">@g.Name</a></li>
                                        }
                                        </ul>
                                    }
                                </li>
                            }
                        }
                       
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">Products</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="javascript:void(0)">Product page</a>
                            <ul class="sub-menu">
                                <li><a href="product-left-sidebar.html">Product left sidebar</a></li>
                                <li><a href="product-right-sidebar.html">Product right sidebar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Product Accordion</a>
                            <ul class="sub-menu">
                                <li><a href="product-accordion-left-sidebar.html">left sidebar</a></li>
                                <li><a href="product-accordion-right-sidebar.html">right sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="product-full-width.html">Product full width</a></li>
                        <li><a href="product-accordion-full-width.html">accordion full width</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="compare.html">Compare</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="blog-full-width.html">Full Width</a></li>
                        <li><a href="blog-detail-left-sidebar.html">Detail Left Sidebar</a></li>
                        <li><a href="blog-detail-right-sidebar.html">Detail Right Sidebar</a></li>
                        <li><a href="blog-detail-full-width.html">Detail Full Width</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-res-lan-curr">
            <!-- Social Start -->
            <div class="header-res-social">
                <div class="header-top-social">
                    <ul class="mb-0">
                        <li class="list-inline-item">
                            <a href="#"><i class="ri-facebook-fill"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="ri-instagram-line"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="ri-linkedin-fill"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Social End -->
        </div>
    </div>
</div>

@code {

    List<Category> categories = new List<Category>();

    protected override void OnInitialized()
    {
        categories = categoryRepository.CategorySubCategory(isDelete: false);
    }

}