@page "~/login"
@model eticaret.Pages.Account.LoginModel
@{
}

<section class="section-login padding-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title bb-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="section-detail">
                        <h2 class="bb-title">Giriş <span>Yap</span></h2>
                        <p>Bizi tercih ettiğiniz için teşekkür ederiz.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="bb-login-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <form method="post" asp-page="login" asp-page-handler="LoginData" asp-route-ReturnUrl='Request.Query["ReturnUrl"]' autocomplete="off">
                        <div class="text-danger field-validation-valid" asp-validation-summary="ModelOnly"></div>
                        <div class="bb-login-wrap">
                            <label for="email">E-Posta*</label>
                            <input type="email" asp-for="loginViewModel.Email" placeholder="E-Posta" />
                            <span class="text-danger field-validation-valid" asp-validation-for="loginViewModel.Email"></span>
                        </div>
                        <div class="bb-login-wrap">
                            <label for="email">Şifre*</label>
                            <input type="password" asp-for="loginViewModel.Password" placeholder="Şifre" />
                            <span class="text-danger field-validation-valid" asp-validation-for="loginViewModel.Password"></span>
                        </div>
                        <div class="bb-login-wrap">
                            <a href="javascript:void(0)">Şifremi Unuttum?</a>
                        </div>
                        <div class="bb-login-button">
                            <button class="bb-btn-2" type="submit">Giriş Yap</button>
                            <a href="register.html">Kayıt Ol</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
