@page "~/register"
@model eticaret.Pages.Account.RegisterModel
@{
}

@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Breadcrumb.BreadcrumbComponent>(RenderMode.ServerPrerendered, new { Title = "Kayıt Ol", Titles = new List<string> { "Kayıt Ol" } }))

<section class="section-register padding-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bb-register" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="row">
                        @if (Model.registerViewModel.Messages is not null)
                        {
                            if (Model.registerViewModel.Messages.Succeeded)
                            {
                                foreach (var item in Model.registerViewModel.Messages.TextMessage)
                                {
                                    <div class="alert alert-success" role="alert">
                                        @item
                                    </div>
                                }
                            }
                            else
                            {
                                foreach (var item in Model.registerViewModel.Messages.TextMessage)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @item
                                    </div>
                                }
                            }
                        }
                        <div class="col-12">
                            <div class="section-title bb-center">
                                <div class="section-detail">
                                    <h2 class="bb-title">Kayıt Ol</h2>
                                    <p>Bizi seçtiğiniz için teşekkür ederiz.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <form method="post" asp-page="register" asp-page-handler="Register" autocomplete="off">
                                <div class="text-danger field-validation-valid" asp-validation-summary="ModelOnly"></div>
                                <div class="bb-register-wrap bb-register-width-100">
                                    <label>Ad*</label>
                                    <input type="text" asp-for="registerViewModel.Name" placeholder="Ad" required>
                                    <span class="text-danger field-validation-valid" asp-validation-for="registerViewModel.Name"></span>
                                </div>
                                <div class="bb-register-wrap bb-register-width-100">
                                    <label>Soyad*</label>
                                    <input type="text" asp-for="registerViewModel.SurName" placeholder="Soyad" required>
                                    <span class="text-danger field-validation-valid" asp-validation-for="registerViewModel.SurName"></span>
                                </div>
                                <div class="bb-register-wrap bb-register-width-100">
                                    <label>EPosta*</label>
                                    <input type="email" asp-for="registerViewModel.Email" placeholder="EPosta" required>
                                    <span class="text-danger field-validation-valid" asp-validation-for="registerViewModel.Email"></span>
                                </div>
                                <div class="bb-register-wrap bb-register-width-100">
                                    <label>Şifre*</label>
                                    <input type="password" asp-for="registerViewModel.Psswrd" placeholder="Şifre" required>
                                    <span class="text-danger field-validation-valid" asp-validation-for="registerViewModel.Psswrd"></span>
                                </div>
                                <div class="bb-register-button">
                                    <button type="submit" class="bb-btn-2">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
