@inject AuthenticationStateProvider AuthenticationStateProvider
@inject eticaret.Domain.UnitOfWork.IUnitofWork unitofWork
@inject eticaret.Domain.Repository.Interface.IProductRepository productRepository


<div class="bb-side-cart-overlay"></div>
<div class="bb-side-cart">
    <div class="row h-full">
        <div class="col-md-5 col-12 d-none-767">
            <div class="bb-top-contact">
                <div class="bb-cart-title">
                    <h4>Related Items</h4>
                </div>
            </div>
            <div class="bb-cart-box mb-minus-24 cart-related bb-border-right">
                <div class="bb-deal-card-2 mb-24">
                    <div class="bb-pro-box-2">
                        <div class="bb-pro-img">
                            <span class="flags">
                                <span>Hot</span>
                            </span>
                            <a href="javascript:void(0)">
                                <div class="inner-img">
                                    <img class="main-img" src="/assets/img/product/26.jpg" alt="product-2">
                                    <img class="hover-img" src="/assets/img/product/26.jpg" alt="product-2">
                                </div>
                            </a>
                            <ul class="bb-pro-actions">
                                <li class="bb-btn-group">
                                    <a href="javascript:void(0)" title="Wishlist">
                                        <i class="ri-heart-line"></i>
                                    </a>
                                </li>
                                <li class="bb-btn-group">
                                    <a href="javascript:void(0)" data-link-action="quickview" title="Quick View"
                                       data-bs-toggle="modal" data-bs-target="#bry_quickview_modal">
                                        <i class="ri-eye-line"></i>
                                    </a>
                                </li>
                                <li class="bb-btn-group">
                                    <a href="compare.html" title="Compare">
                                        <i class="ri-repeat-line"></i>
                                    </a>
                                </li>
                                <li class="bb-btn-group">
                                    <a href="javascript:void(0)" title="Add To Cart">
                                        <i class="ri-shopping-bag-4-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="bb-pro-contact">
                            <div class="bb-pro-subtitle">
                                <a href="shop-left-sidebar-col-3.html">Perfumes</a>
                                <span class="bb-pro-rating">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                </span>
                            </div>
                            <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Long lasting perfumes for women</a></h4>
                            <div class="bb-price">
                                <div class="inner-price">
                                    <span class="new-price">$15</span>
                                    <span class="item-left">3 Left</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bb-cart-banner mb-24">
                    <div class="banner">
                        <img src="/assets/img/category/cart-banner-2.jpg" alt="cart-banner">
                        <div class="detail">
                            <h4>Naturals</h4>
                            <h3>Cosmetics</h3>
                            <a href="shop-left-sidebar-col-3.html">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <Authorized>

                    <div class="col-md-7 col-12">
                        <div class="bb-inner-cart">
                            <div class="bb-top-contact">
                                <div class="bb-cart-title">
                                    <h4>Sepet</h4>
                                    <a href="javascript:void(0)" class="bb-cart-close" title="Close Cart"></a>
                                </div>
                            </div>
                            <div class="bb-cart-box item">
                                <ul class="bb-cart-items">

                                    @if (BasketList.Any())
                                    {
                                        foreach (var item in BasketList)
                                        {
                                            <li class="cart-sidebar-list">
                                                <a href="javascript:void(0)" @onclick="() => RemoveBasket(item.Id.ToString())" class="cart-remove-item">
                                                    <i class="ri-close-line"></i>
                                                </a>
                                                <a href="javascript:void(0)" class="bb-cart-pro-img">
                                                    @if(item.Images.Any())
                                                    {
                                                        foreach (var img in item.Images)
                                                        {
                                                            <img src="/assets/img/product/@img.Name" alt="@img.Name">
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(173,184,194,1)">
                                                            <path d="M5 11.1005L7 9.1005L12.5 14.6005L16 11.1005L19 14.1005V5H5V11.1005ZM5 13.9289V19H8.1005L11.0858 16.0147L7 11.9289L5 13.9289ZM10.9289 19H19V16.9289L16 13.9289L10.9289 19ZM4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM15.5 10C14.6716 10 14 9.32843 14 8.5C14 7.67157 14.6716 7 15.5 7C16.3284 7 17 7.67157 17 8.5C17 9.32843 16.3284 10 15.5 10Z">
                                                            </path>
                                                        </svg>
                                                    }
                                                </a>
                                                <div class="bb-cart-contact">
                                                    <a href="product-left-sidebar.html" class="bb-cart-sub-title">@item.Name</a>
                                                    <span class="cart-price">
                                                        @if (item.NewPrice == 0)
                                                        {
                                                            <span class="new-price">@item.OldPrice</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="new-price">@item.OldPrice</span>
                                                        }
                                                    </span>
                                                    <div class="qty-plus-minus">
                                                        <input class="qty-input" type="text" name="bb-qtybtn" value="1">
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="bb-bottom-cart">
                                <div class="cart-sub-total">
                                    <table class="table cart-table">
                                        <tbody>
                                            <tr>
                                                <td class="title">Toplam :</td>
                                                <td class="price">$300.00</td>
                                            </tr>
                                            <tr>
                                                <td class="title">KDV (20%) :</td>
                                                <td class="price">$60.00</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Genel Toplam :</td>
                                                <td class="price">$360.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart-btn">
                                    <a href="cart.html" class="bb-btn-1">View Cart</a>
                                    <a href="checkout.html" class="bb-btn-2">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </Authorized>
                <NotAuthorized>
                    <div class="col-md-7 col-12">
                        <div class="bb-inner-cart">
                            <div class="bb-top-contact">
                                <div class="bb-cart-title">
                                    <h4>Sepet</h4>
                                    <a href="javascript:void(0)" class="bb-cart-close" title="Close Cart"></a>
                                </div>
                            </div>
                            <div class="bb-cart-box item">
                            </div>
                            <div class="bb-bottom-cart">
                                <div class="cart-sub-total">
                                    <table class="table cart-table">
                                        <tbody>
                                            <tr>
                                                <td class="title">Toplam :</td>
                                                <td class="price">0</td>
                                            </tr>
                                            <tr>
                                                <td class="title">KDV :</td>
                                                <td class="price">0</td>
                                            </tr>
                                            <tr>
                                                <td class="title">Genel Toplam :</td>
                                                <td class="price">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart-btn">
                                    <a href="cart.html" class="bb-btn-1">View Cart</a>
                                    <a href="checkout.html" class="bb-btn-2">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </NotAuthorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        </Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>


    </div>
</div>


@code {

    public List<Product> BasketList { get; set; } = new List<Product>();

    private AuthenticationState authenticationState;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            var userId = unitofWork.GetUserById(user.Identity!.Name!);
            var product = await productRepository.ProductJoinBasketAsync(predicate: x => x.IsDeleted == false && x.Baskets.Any(b => b.UserId == userId));
            BasketList = product.Select(x => new Product
            {
                Name = x.Name,
                OldPrice = x.OldPrice,
                NewPrice = x.NewPrice,
                Images = x.Images
            }).ToList();
        }
        else
        {
            BasketList = new List<Product>();
        }
    }    


    protected async Task RemoveBasket(string a)
    {
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;
        if (user.Identity?.IsAuthenticated == true)
        {
            var userId = unitofWork.GetUserById(user.Identity!.Name!);
            var product = await unitofWork.GetRepository<Product>().GetFindAsync(x => x.Id == Convert.ToInt32(a));

            Basket delete = await unitofWork.GetRepository<Basket>().GetFindAsync(v => v.UserId == userId && v.ProductId == product.Id);

            unitofWork.GetRepository<Basket>().Delete(delete);
            unitofWork.SaveChanges();
        }
        //await OnInitializedAsync();
    }
}