
<section class="section-breadcrumb margin-b-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row bb-breadcrumb-inner">
                    <div class="col-md-6 col-sm-12">
                        @if (Title != null)
                        {
                            <h2 class="bb-breadcrumb-title">@Title</h2>
                        }
                    </div>
                    <div class="col-md-6 col-sm-12">
                        @if (Titles != null)
                        {
                            <ul class="bb-breadcrumb-list">
                                <li class="bb-breadcrumb-item"><a href="/">Anasayfa</a></li>
                                @foreach (var item in Titles.ToList())
                                {
                                    <li><i class="ri-arrow-right-double-fill"></i></li>
                                    <li class="bb-breadcrumb-item active">@item</li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public List<string>? Titles { get; set; } = new List<string>();
}
