<span class="bb-pro-rating">
    <i class="ri-star-fill"></i>
    <i class="ri-star-line"></i>
    <i class="ri-star-line"></i>
    <i class="ri-star-line"></i>
    <i class="ri-star-line"></i>
</span>

@code {

}
