



<section class="section-banner-three padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24">
            <div class="col-lg-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="banner-box-three bg-box-color-one">
                    <div class="inner-banner-box-three">
                        <div class="side-image">
                            <img src="assets/img/banner-three/one.png" alt="one">
                        </div>
                        <div class="inner-contact">
                            <h5>School bags & Office Bags</h5>
                            <p>Standard leather School & office bag</p>
                            <a href="shop-left-sidebar-col-3.html" class="bb-btn-1">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 mb-24" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="banner-box-three bg-box-color-two">
                    <div class="inner-banner-box-three">
                        <div class="side-image">
                            <img src="assets/img/banner-three/two.png" alt="two">
                        </div>
                        <div class="inner-contact">
                            <h5>Cosmetics & makeup kits</h5>
                            <p>Natural beauty and cosmetics.</p>
                            <a href="shop-left-sidebar-col-3.html" class="bb-btn-1">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner-four -->
<section class="section-banner-four margin-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner-justify-box-contact">
                    <div class="banner-four-box">
                        <span>35% Off</span>
                        <h4>Women's Trendy Fashion Clothes</h4>
                        <a href="javascript:void(0)" class="bb-btn-1">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
