@page "~/track-order"
@model eticaret.Pages.TrackOrder.TrackorderModel
@{
}


<section class="section-track padding-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title bb-center" data-aos="fade-up" data-aos-duration="1000"
                     data-aos-delay="200">
                    <div class="section-detail">
                        <h2 class="bb-title">Track<span> order</span></h2>
                        <p>check your arriving order.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="track">
                    <div class="row mb-minus-24">
                        <div class="col-md-4 mb-24">
                            <div class="block-title">
                                <h6>Order</h6>
                                <p>#2453</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-24">
                            <div class="block-title">
                                <h6>Jalapeno Poppers</h6>
                                <p>bb6874tf</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-24">
                            <div class="block-title">
                                <h6>Expected date</h6>
                                <p>May 15, 2025</p>
                            </div>
                        </div>
                        <div class="col-md-12 mb-24">
                            <ul class="bb-progress">
                                <li class="active">
                                    <span class="number">1</span>
                                    <span class="icon"><i class="ri-check-double-line"></i></span>
                                    <span class="title">Order<br>Confirmed</span>
                                </li>
                                <li class="active">
                                    <span class="number">2</span>
                                    <span class="icon"><i class="ri-settings-line"></i></span>
                                    <span class="title">Processing<br>Order</span>
                                </li>
                                <li class="active">
                                    <span class="number">3</span>
                                    <span class="icon"><i class="ri-gift-2-line"></i></span>
                                    <span class="title">Quality<br>Check</span>
                                </li>
                                <li class="">
                                    <span class="number">4</span>
                                    <span class="icon"><i class="ri-truck-line"></i></span>
                                    <span class="title">Product<br>Dispatched</span>
                                </li>
                                <li class="">
                                    <span class="number">5</span>
                                    <span class="icon"><i class="ri-home-office-line"></i></span>
                                    <span class="title">Product<br>Delivered</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>