@inject eticaret.Domain.UnitOfWork.IUnitofWork unitofWork
@using eticaret.Domain.Core.Entities

@if (unitofWork.GetRepository<BlogInfo>().GetAllIQueryable(x => x.IsDeleted == false).Any())
{
    <section class="section-blog-3 padding-b-50 padding-t-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-3-slider owl-carousel">

                        @foreach (var item in unitofWork.GetRepository<BlogInfo>().GetAllIQueryable(x => x.IsDeleted == false).OrderBy(v => v.CreateDate).Take(10))
                        {
                            <div class="blog-3-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                <div class="blog-img">
                                    <img src="assets/img/blog/11.jpg" alt="blog-7">
                                </div>
                                <div class="blog-contact">
                                    <span>@item.CreateDate - @item.CreateBy</span>
                                    <h4>
                                        <a href="/blog-detail?id=@item.Id">@item.Description.Substring(0, 50)...</a>
                                    </h4>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}



@code {

}
