<section class="section-blog-3 padding-b-50 padding-t-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-3-slider owl-carousel">
                    <div class="blog-3-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="blog-img">
                            <img src="assets/img/blog/11.jpg" alt="blog-7">
                        </div>
                        <div class="blog-contact">
                            <span>June 30,2024 - organic</span>
                            <h4>
                                <a href="blog-detail-left-sidebar.html">Marketing Guide: 5 Steps to Success.</a>
                            </h4>
                        </div>
                    </div>
                    <div class="blog-3-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <div class="blog-img">
                            <img src="assets/img/blog/12.jpg" alt="blog-8">
                        </div>
                        <div class="blog-contact">
                            <span>May 10,2025 - organic</span>
                            <h4>
                                <a href="blog-detail-left-sidebar.html">Best way to solve business deal issue.</a>
                            </h4>
                        </div>
                    </div>
                    <div class="blog-3-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                        <div class="blog-img">
                            <img src="assets/img/blog/13.jpg" alt="blog-9">
                        </div>
                        <div class="blog-contact">
                            <span>Jan 10,2025 - organic</span>
                            <h4>
                                <a href="blog-detail-left-sidebar.html">Business ideas to grow your business.</a>
                            </h4>
                        </div>
                    </div>
                    <div class="blog-3-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                        <div class="blog-img">
                            <img src="assets/img/blog/14.jpg" alt="blog-10">
                        </div>
                        <div class="blog-contact">
                            <span>Feb 12,2025 - organic</span>
                            <h4><a href="blog-detail-left-sidebar.html">31 customer business stats know in 2026.</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
