<section class="section-category-2 padding-tb-30 next">
    <div class="container">
        <div class="bb-cat-2">
            <div class="bb-category-block-2 owl-carousel">
                <div class="bb-category-box" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
                    <div class="category-detail">
                        <div class="category-image">
                            <img src="assets/img/category/1.jpg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">Clothes</a></h5>
                            <p>485 items</p>
                        </div>
                    </div>
                </div>
                <div class="bb-category-box" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
                    <div class="category-detail">
                        <div class="category-image">
                            <img src="assets/img/category/2.jpg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">Watches</a></h5>
                            <p>56 items</p>
                        </div>
                    </div>
                </div>
                <div class="bb-category-box" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
                    <div class="category-detail">
                        <div class="category-image">
                            <img src="assets/img/category/3.jpg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">Dresses</a></h5>
                            <p>954 items</p>
                        </div>
                    </div>
                </div>
                <div class="bb-category-box" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
                    <div class="category-detail">
                        <div class="category-image">
                            <img src="assets/img/category/4.jpg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">glasses</a></h5>
                            <p>623 items</p>
                        </div>
                    </div>
                </div>
                <div class="bb-category-box" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
                    <div class="category-detail">
                        <div class="category-image">
                            <img src="assets/img/category/5.jpg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">hat & caps</a></h5>
                            <p>74 items</p>
                        </div>
                    </div>
                </div>
                <div class="bb-category-box" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
                    <div class="category-detail">
                        <div class="category-image">
                            <img src="assets/img/category/6.jpg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">Shorts</a></h5>
                            <p>68 items</p>
                        </div>
                    </div>
                </div>
                <div class="bb-category-box" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
                    <div class="category-detail">
                        <div class="category-image">
                            <img src="assets/img/category/7.jpg" alt="category">
                        </div>
                        <div class="category-sub-contact">
                            <h5><a href="shop-left-sidebar-col-3.html">jacket</a></h5>
                            <p>231 items</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
