@inject eticaret.Domain.UnitOfWork.IUnitofWork unitofWork
@using eticaret.Domain.Core.Entities


<section class="section-category-2 padding-tb-30 next">
    <div class="container">
        <div class="bb-cat-2">
            <div class="bb-category-block-2 owl-carousel">

                @if (unitofWork.GetRepository<Category>().GetAllIQueryable(x => x.IsDeleted == false).Any())
                {
                    foreach (var item in unitofWork.GetRepository<Category>().GetAllIQueryable(x => x.IsDeleted == false))
                    {
                        <div class="bb-category-box" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
                            <div class="category-detail">
                                <div class="category-image">
                                    <img src="assets/img/category/1.jpg" alt="category">
                                </div>
                                <div class="category-sub-contact">
                                    <h5><a href="/product-list/@item.Flag">@item.Name</a></h5>
                                    <p>485 items</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

@code {

}
