<a href="javascript:void(0)">
    <div class="inner-img">
        <img class="main-img" src="./assets/img/new-product/@Name" alt="@Name">
        <img class="hover-img" src="./assets/img/new-product/@Name" alt="@Name">
    </div>
</a>

@code {
    [Parameter]
    public string Name { get; set; }
}
