<ul class="bb-pro-actions">
    <li class="bb-btn-group">
        <a href="javascript:void(0)">
            <i class="ri-heart-line"></i>
        </a>
    </li>
    <li class="bb-btn-group">
        <a href="javascript:void(0)"
           data-link-action="quickview" title="Quick view" data-bs-toggle="modal"
           data-bs-target="#bry_quickview_modal">
            <i class="ri-eye-line"></i>
        </a>
    </li>
    <li class="bb-btn-group">
        <a href="compare.html">
            <i class="ri-repeat-line"></i>
        </a>
    </li>
    <li class="bb-btn-group">
        <a href="javascript:void(0)">
            <i class="ri-shopping-bag-4-line"></i>
        </a>
    </li>
</ul>

@code {

}
