@page "~/wishlist"
@model eticaret.Pages.Wishlist.WishlistModel
@{
}


<section class="section-wishlist padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24 bb-wish-rightside">
            <div class="col-lg-3 col-md-6 col-12 mb-24 bb-wishlist">
                <div class="bb-pro-box">
                    <div class="bb-pro-img">
                        <span class="bb-remove-wish">
                            <a href="javascript:void(0)">
                                <i class="ri-close-circle-fill"></i>
                            </a>
                        </span>
                        <span class="flags">
                            <span>New</span>
                        </span>
                        <a href="javascript:void(0)">
                            <div class="inner-img">
                                <img class="main-img" src="assets/img/product/1.jpg" alt="product-1">
                                <img class="hover-img" src="assets/img/product/back-1.jpg" alt="product-1">
                            </div>
                        </a>
                        <ul class="bb-pro-actions">
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)">
                                    <i class="ri-heart-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)"
                                   data-link-action="quickview" title="Quick view" data-bs-toggle="modal"
                                   data-bs-target="#bry_quickview_modal">
                                    <i class="ri-eye-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="compare.html">
                                    <i class="ri-repeat-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)">
                                    <i class="ri-shopping-bag-4-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bb-pro-contact">
                        <div class="bb-pro-subtitle">
                            <a href="shop-left-sidebar-col-3.html">Chocolates</a>
                            <span class="bb-pro-rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </span>
                        </div>
                        <h4 class="bb-pro-title">
                            <a href="product-left-sidebar.html">Mixed Fruits Chocolates Pack</a>
                        </h4>
                        <div class="bb-price">
                            <div class="inner-price">
                                <span class="new-price">$25</span>
                                <span class="old-price">$30</span>
                            </div>
                            <span class="last-items">1 Pack</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-24 bb-wishlist">
                <div class="bb-pro-box">
                    <div class="bb-pro-img">
                        <span class="bb-remove-wish">
                            <a href="javascript:void(0)">
                                <i class="ri-close-circle-fill"></i>
                            </a>
                        </span>
                        <span class="flags">
                            <span>Hot</span>
                        </span>
                        <a href="javascript:void(0)">
                            <div class="inner-img">
                                <img class="main-img" src="assets/img/product/2.jpg" alt="product-2">
                                <img class="hover-img" src="assets/img/product/back-2.jpg" alt="product-2">
                            </div>
                        </a>
                        <ul class="bb-pro-actions">
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)">
                                    <i class="ri-heart-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)"
                                   data-link-action="quickview" title="Quick view" data-bs-toggle="modal"
                                   data-bs-target="#bry_quickview_modal">
                                    <i class="ri-eye-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="compare.html">
                                    <i class="ri-repeat-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)">
                                    <i class="ri-shopping-bag-4-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bb-pro-contact">
                        <div class="bb-pro-subtitle">
                            <a href="shop-left-sidebar-col-3.html">Juice</a>
                            <span class="bb-pro-rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </span>
                        </div>
                        <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Organic Apple Juice Pack</a></h4>
                        <div class="bb-price">
                            <div class="inner-price">
                                <span class="new-price">$15</span>
                                <span class="item-left">3 Left</span>
                            </div>
                            <span class="last-items">100 ml</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-24 bb-wishlist">
                <div class="bb-pro-box">
                    <div class="bb-pro-img">
                        <span class="bb-remove-wish">
                            <a href="javascript:void(0)">
                                <i class="ri-close-circle-fill"></i>
                            </a>
                        </span>
                        <a href="javascript:void(0)">
                            <div class="inner-img">
                                <img class="main-img" src="assets/img/product/3.jpg" alt="product-3">
                                <img class="hover-img" src="assets/img/product/back-3.jpg" alt="product-3">
                            </div>
                        </a>
                        <ul class="bb-pro-actions">
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)">
                                    <i class="ri-heart-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)"
                                   data-link-action="quickview" title="Quick view" data-bs-toggle="modal"
                                   data-bs-target="#bry_quickview_modal">
                                    <i class="ri-eye-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="compare.html">
                                    <i class="ri-repeat-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)">
                                    <i class="ri-shopping-bag-4-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bb-pro-contact">
                        <div class="bb-pro-subtitle">
                            <a href="shop-left-sidebar-col-3.html">Juice</a>
                            <span class="bb-pro-rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </span>
                        </div>
                        <h4 class="bb-pro-title">
                            <a href="product-left-sidebar.html">Mixed Almond nuts juice Pack</a>
                        </h4>
                        <div class="bb-price">
                            <div class="inner-price">
                                <span class="new-price">$32</span>
                                <span class="old-price">$39</span>
                            </div>
                            <span class="last-items">250 g</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-24 bb-wishlist">
                <div class="bb-pro-box">
                    <div class="bb-pro-img">
                        <span class="bb-remove-wish">
                            <a href="javascript:void(0)">
                                <i class="ri-close-circle-fill"></i>
                            </a>
                        </span>
                        <span class="flags">
                            <span>Sale</span>
                        </span>
                        <a href="javascript:void(0)">
                            <div class="inner-img">
                                <img class="main-img" src="assets/img/product/4.jpg" alt="product-4">
                                <img class="hover-img" src="assets/img/product/back-4.jpg" alt="product-4">
                            </div>
                        </a>
                        <ul class="bb-pro-actions">
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)">
                                    <i class="ri-heart-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)"
                                   data-link-action="quickview" title="Quick view" data-bs-toggle="modal"
                                   data-bs-target="#bry_quickview_modal">
                                    <i class="ri-eye-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="compare.html">
                                    <i class="ri-repeat-line"></i>
                                </a>
                            </li>
                            <li class="bb-btn-group">
                                <a href="javascript:void(0)">
                                    <i class="ri-shopping-bag-4-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bb-pro-contact">
                        <div class="bb-pro-subtitle">
                            <a href="shop-left-sidebar-col-3.html">Fruits</a>
                            <span class="bb-pro-rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </span>
                        </div>
                        <h4 class="bb-pro-title"><a href="product-left-sidebar.html">Fresh Mango Slice Juice</a></h4>
                        <div class="bb-price">
                            <div class="inner-price">
                                <span class="new-price">$25</span>
                                <span class="item-left">Out Of Stock</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>