@page "~/blog-detail"
@model eticaret.Pages.Blog.BlogDetailModel
@{
}

@(await Html.RenderComponentAsync<eticaret.Pages.Shared.Components.Breadcrumb.BreadcrumbComponent>(RenderMode.ServerPrerendered, new { Title = "Blog", Titles = new List<string> { "Blog","Blog Detail" } }))

<section class="section-blog-details padding-tb-50">
    <div class="container">
        <div class="row mb-minus-24">
            <div class="col-xl-8 col-lg-7 col-12 mb-24">
                <div class="bb-blog-details-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="inner-blog-details-image">
                        <img src="~/assets/img/blog-details/one.jpg" alt="details-one">
                    </div>
                    <div class="inner-blog-details-contact">
                        <span>May 30,2025</span>
                        <h4 class="sub-title">Marketing Guide: 5 Steps to Success.</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis inventore fuga at
                            iure voluptate, laudantium commodi officiis provident facere quis quae, laboriosam
                            ducimus nihil molestiae vel beatae numquam assumenda dicta modi. Mollitia soluta ipsa
                            cum pariatur! Obcaecati similique amet fuga minima vitae corporis odio eius tenetur
                            repudiandae quaerat maiores quo officia, sunt, ab omnis id soluta explicabo quas? Quasi
                            nam, inventore voluptas tempore ex modi consequuntur reiciendis enim, molestias labore
                            neque! A nostrum necessitatibus dolorem sequi earum inventore labore error.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam harum inventore, ipsa
                            velit, laudantium perspiciatis exercitationem veritatis, molestiae magnam voluptatibus
                            suscipit accusamus fuga veniam laborum cumque vitae cum? Cumque, aliquid.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog-inner-image">
                                    <img src="~/assets/img/blog/1.jpg" alt="blog-1">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog-inner-image">
                                    <img src="~/assets/img/blog/2.jpg" alt="blog-2">
                                </div>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis inventore fuga at
                            ducimus nihil molestiae vel beatae numquam assumenda dicta modi. Mollitia soluta ipsa
                            repudiandae quaerat maiores quo officia, sunt, ab omnis id soluta explicabo quas? Quasi
                            nam, inventore voluptas tempore ex modi consequuntur reiciendis enim, molestias labore
                            neque! A nostrum necessitatibus dolorem sequi earum inventore labore error.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam harum inventore, ipsa
                            suscipit accusamus fuga veniam laborum cumque vitae cum? Cumque, aliquid.
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="bb-pro-pagination">
                            <p>Showing 1-12 of 21 item(s)</p>
                            <ul>
                                <li class="active">
                                    <a href="javascript:void(0)">1</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">2</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">3</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">4</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="next">Next <i class="ri-arrow-right-s-line"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bb-blog-details-comment">
                        <div class="main-title">
                            <h4>Comments</h4>
                        </div>
                        <div class="bb-comment-box">
                            <div class="inner-image">
                                <img src="~/assets/img/reviews/1.jpg" alt="reviews-1">
                            </div>
                            <div class="inner-contact">
                                <h5 class="sub-title">Mariya Lykra</h5>
                                <span>May 14,2020</span>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, et? Quam eius
                                    facere optio explicabo consequatur aut ad. Magnam, aspernatur!
                                </p>
                                <a href="javascript:void(0)" class="bb-details-btn">Reply <i class="ri-arrow-right-line"></i></a>
                            </div>
                        </div>
                        <div class="bb-comment-box bb-pl-50">
                            <div class="inner-image">
                                <img src="~/assets/img/reviews/2.jpg" alt="reviews-1">
                            </div>
                            <div class="inner-contact">
                                <h5 class="sub-title">Saddika Alard</h5>
                                <span>May 14,2020</span>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, et? Quam eius
                                    facere optio explicabo consequatur aut ad. Magnam, aspernatur!
                                </p>
                                <a href="javascript:void(0)" class="bb-details-btn">Reply <i class="ri-arrow-right-line"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bb-blog-details-comment">
                        <div class="main-title">
                            <h4>Leave A Reply</h4>
                        </div>
                        <form method="post">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="bb-details-input">
                                        <input type="text" placeholder="Enter Your Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="bb-details-input">
                                        <input type="email" placeholder="Enter Your Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bb-details-input">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bb-details-buttons">
                                        <a href="javascript:void(0)" class="bb-btn-2">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-12 mb-24">
                <div class="bb-blog-sidebar">
                    <div class="blog-inner-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="blog-sidebar-title">
                            <h4>Recent Articles</h4>
                        </div>
                        <div class="blog-sidebar-card">
                            <div class="inner-image">
                                <img src="~/assets/img/blog/7.jpg" alt="blog">
                            </div>
                            <div class="blog-sidebar-contact">
                                <span>Marketing</span>
                                <h4><a href="blog-detail-left-sidebar.html">Marketing Guide: 5 Steps to Success.</a></h4>
                                <p>February 10, 2025</p>
                            </div>
                        </div>
                        <div class="blog-sidebar-card">
                            <div class="inner-image">
                                <img src="~/assets/img/blog/8.jpg" alt="blog">
                            </div>
                            <div class="blog-sidebar-contact">
                                <span>Business</span>
                                <h4><a href="blog-detail-left-sidebar.html">Business ideas to grow your business.</a></h4>
                                <p>Jan 1, 2024</p>
                            </div>
                        </div>
                        <div class="blog-sidebar-card">
                            <div class="inner-image">
                                <img src="~/assets/img/blog/9.jpg" alt="blog">
                            </div>
                            <div class="blog-sidebar-contact">
                                <span>Business</span>
                                <h4><a href="blog-detail-left-sidebar.html">Best way to solve business deal issue.</a></h4>
                                <p>Jun 02, 2024</p>
                            </div>
                        </div>
                        <div class="blog-sidebar-card">
                            <div class="inner-image">
                                <img src="~/assets/img/blog/10.jpg" alt="blog">
                            </div>
                            <div class="blog-sidebar-contact">
                                <span>Customer</span>
                                <h4><a href="blog-detail-left-sidebar.html">31 customer stats know in 2025.</a></h4>
                                <p>May 20, 2024</p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-inner-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <div class="blog-sidebar-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="blog-categories">
                            <ul>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <input type="checkbox">
                                        <a href="javascript:void(0)">Business</a>
                                        <span class="checked"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <input type="checkbox">
                                        <a href="javascript:void(0)">Marketing</a>
                                        <span class="checked"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <input type="checkbox">
                                        <a href="javascript:void(0)">Food blogs</a>
                                        <span class="checked"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <input type="checkbox">
                                        <a href="javascript:void(0)">Lifestyle</a>
                                        <span class="checked"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <input type="checkbox">
                                        <a href="javascript:void(0)">Fashion</a>
                                        <span class="checked"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <input type="checkbox">
                                        <a href="javascript:void(0)">Travel</a>
                                        <span class="checked"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bb-sidebar-block-item">
                                        <input type="checkbox">
                                        <a href="javascript:void(0)">Fitness</a>
                                        <span class="checked"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
