@inject eticaret.Domain.UnitOfWork.IUnitofWork unitofWork
@using eticaret.Domain.Core.Entities

<div class="bb-category-sidebar">
    <div class="bb-category-overlay"></div>
    <div class="category-sidebar">
        <button type="button" class="bb-category-close" title="Close"></button>
        <div class="container-fluid">
            <div class="row mb-minus-24">

                @if (unitofWork.GetRepository<Category>().GetAllIQueryable().Any())
                {
                    <div class="col-12">
                        <div class="bb-category-tags">
                            <div class="sub-title">
                                <h4>Kategori</h4>
                            </div>
                            <div class="bb-tags">
                                <ul>
                                    @foreach (var item in unitofWork.GetRepository<Category>().GetAllIQueryable())
                                    {
                                        <li>
                                            <a href="javascript:void(0)">@item.Name</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="sub-title">
                                    <h4>Kategori</h4>
                                </div>
                            </div>

                            @foreach (var item in unitofWork.GetRepository<Category>().GetAllIQueryable())
                            {
                                <div class="col-xl-2 col-md-4 col-sm-6 col-12 mb-24">
                                    <div class="bb-category-box category-items-1">
                                        <div class="category-image">
                                            <img src="/assets/img/category/1.svg" alt="category">
                                        </div>
                                        <div class="category-sub-contact">
                                            <h5><a href="shop-left-sidebar-col-3.html">@item.Name</a></h5>
                                            <p>485 items</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

                    
                    
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="sub-title">
                                    <h4>Related products</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                                <div class="bb-category-cart">
                                    <a href="javascript:void(0)" class="pro-img">
                                        <img src="/assets/img/product/1.jpg" alt="new-product-1">
                                    </a>
                                    <div class="side-contact">
                                        <h4 class="bb-pro-title">
                                            <a href="product-left-sidebar.html">
                                                Ground Nuts Oil
                                                Pack
                                            </a>
                                        </h4>
                                        <span class="bb-pro-rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </span>
                                        <div class="inner-price">
                                            <span class="new-price">$15</span>
                                            <span class="old-price">$22</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                                <div class="bb-category-cart">
                                    <a href="javascript:void(0)" class="pro-img">
                                        <img src="/assets/img/product/2.jpg" alt="new-product-2">
                                    </a>
                                    <div class="side-contact">
                                        <h4 class="bb-pro-title">
                                            <a href="product-left-sidebar.html">
                                                Organic Litchi
                                                Juice
                                            </a>
                                        </h4>
                                        <span class="bb-pro-rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </span>
                                        <div class="inner-price">
                                            <span class="new-price">$25</span>
                                            <span class="old-price">$30</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                                <div class="bb-category-cart">
                                    <a href="javascript:void(0)" class="pro-img">
                                        <img src="/assets/img/product/3.jpg" alt="new-product-3" />
                                    </a>
                                    <div class="side-contact">
                                        <h4 class="bb-pro-title">
                                            <a href="product-left-sidebar.html">
                                                Spicy Banana
                                                Chips
                                            </a>
                                        </h4>
                                        <span class="bb-pro-rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </span>
                                        <div class="inner-price">
                                            <span class="new-price">$01</span>
                                            <span class="old-price">$02</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                                <div class="bb-category-cart">
                                    <a href="javascript:void(0)" class="pro-img">
                                        <img src="/assets/img/product/4.jpg" alt="new-product-4" />
                                    </a>
                                    <div class="side-contact">
                                        <h4 class="bb-pro-title">
                                            <a href="product-left-sidebar.html">
                                                Spicy Potato
                                                Chips
                                            </a>
                                        </h4>
                                        <span class="bb-pro-rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </span>
                                        <div class="inner-price">
                                            <span class="new-price">$25</span>
                                            <span class="old-price">$35</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                                <div class="bb-category-cart">
                                    <a href="javascript:void(0)" class="pro-img">
                                        <img src="/assets/img/product/5.jpg" alt="new-product-5" />
                                    </a>
                                    <div class="side-contact">
                                        <h4 class="bb-pro-title">
                                            <a href="product-left-sidebar.html">
                                                Black Pepper
                                                Spice
                                            </a>
                                        </h4>
                                        <span class="bb-pro-rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </span>
                                        <div class="inner-price">
                                            <span class="new-price">$32</span>
                                            <span class="old-price">$35</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-24">
                                <div class="bb-category-cart">
                                    <a href="javascript:void(0)" class="pro-img">
                                        <img src="/assets/img/product/6.jpg" alt="new-product-6" />
                                    </a>
                                    <div class="side-contact">
                                        <h4 class="bb-pro-title">
                                            <a href="product-left-sidebar.html">
                                                Small Chili
                                                Spice
                                            </a>
                                        </h4>
                                        <span class="bb-pro-rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-line"></i>
                                        </span>
                                        <div class="inner-price">
                                            <span class="new-price">$41</span>
                                            <span class="old-price">$45</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@code {

}
